.button {
	font: inherit;
	padding: 0.5rem 1.5rem;
	border: 1px solid #ff6b6b;
	border-radius: 4px;
	background: #ff6b6b;
	color: #f7fff7;
	cursor: pointer;
	margin-right: 1rem;
	text-decoration: none;
	display: inline-block;
}

.button:focus {
	outline: none;
}

.button:hover,
.button:active {
	background: #ff6b6b;
	border-color: #ff6b6b;
}

.button--inverse {
	background: transparent;
	color: #ff6b6b;
}

.button--inverse:hover,
.button--inverse:active {
	color: #f7fff7;
	background: #ff6b6b;
}

.button--danger {
	background: #1a535c;
	border-color: #1a535c;
}

.button--danger:hover,
.button--danger:active {
	background: #ff6b6b;
	border-color: #ff6b6b;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
	background: #ccc;
	color: #979797;
	border-color: #ccc;
	cursor: not-allowed;
}

.button--small {
	font-size: 0.8rem;
}

.button--big {
	font-size: 1.5rem;
}
